
/* Navbar */
.nav-height{
    height: 80px;
}



/* Navbar link */

.nav-border{
    border: 2px solid black;
}

.icon-size{
    font-size: larger;
}

.space{
    padding-left: 15px;
}

.font-size{
    font-size: 1.4rem;
}

/* Background color */

.first-bg{
    background-color: aqua;
}

/* Heading */
.heading-position{
    position: relative;
    top: 200px;
    margin-left: 50px;
}

.para-position{
    position: relative;
    top: 100px;
    margin-left: 5px;
}

/* Row */
.row-style{
    height: 80vh;
    
}

/* Second Side */

.second-side{
    position: relative;
    top: 50%;
}

.navbar-nav{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.nav-item{
   
        flex: 1;
        display: flex;
        align-items: center;
    
}