/* Google Fonts */

/* 
font-family: 'Hind Guntur', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Sansita', sans-serif; 
*/


/* Navbar */
.nav-height{
    height: 80px;
}



/* Navbar link */

.nav-border{
    border: 2px solid black;
}

.icon-size{
    font-size: larger;
}

.space{
    padding-left: 15px;
}

.font-size{
    font-size: 1.4rem;
}

/* Background color */

.first-bg{
    background-color: #142d4c
}

/* Heading */

.para-position{
    position: relative;
    top: 70px;
    left: 10px;
}

.para-position h1{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.6rem;
color: #ececec;
padding-bottom:10px ;
}

/* Para heading */

.para-position p {
    font-family: 'Sansita', sans-serif; 
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 2.6rem;
    color: #9fd3c7;
}

/* Row */
.row-style{
    height: 80vh;
    
}

/* Name Color */

.name-color{
    color: #9fd3c7;
}

/* P Color */

.p-color{
    color:#ececec
}



/* Second Side */

/* .second-side{
    position: relative;
    top: 50%;
}

.navbar-nav{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.nav-item{
   
        flex: 1;
        display: flex;
        align-items: center;
    
} */

.menu-container {
    font-size: 0;
}

ul{
    padding: 0;
    margin: 0;
    width: 100%;
}
#nav {
    margin: 0;
    padding: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
    margin: 0;
    background-color: pink;
    list-style-type: none;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    color: #e90b0b;
    text-decoration: none;
    height: 120px;
}

.menuitem a i {
    font-size: 26px;
    display: block;
    color: #faf7f7;
    padding-top: 22px;
}

.menuitem span {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    display: block;
    width: 100%;
    padding-top: 10px;
    text-transform: uppercase;
    text-align: center;
}

/* Hover Section */

.hvr-back-pulse:before {
    background-color: rgba(0, 0, 0, 0.6);
    height: 120px;
}