/* Google Fonts */

/* 
font-family: 'Hind Guntur', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Sansita', sans-serif; 
*/


/* Navbar */
.nav-height{
    height: 80px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'PT Sans', sans-serif;
}

p{
    font-family: 'Hind Guntur', sans-serif;
}

/* Navbar link */

.nav-border{
    border: 2px solid black;
}

.icon-size{
    font-size: larger;
}

.space{
    padding-left: 15px;
}

.font-size{
    font-size: 1.4rem;
    
}

/* Background color */

.first-bg{
    background-color: #142d4c
}

/* Heading */

.para-position{
    position: relative;
    top: 70px;
    left: 10px;
}

.para-position h1{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.6rem;
color: #ececec;
padding-bottom:10px ;
}

/* Para heading */

.para-position p {
    font-family: 'Sansita', sans-serif; 
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 2.6rem;
    color: #9fd3c7;
}

/* Row */
.row-style{
    height: 80vh;
    
}

/* Name Color */

.name-color{
    color: #9fd3c7;
}

/* P Color */

.p-color{
    color:#ececec;
}

/* Nav link color */

.nav-item a {
    color:#9fd3c7;
    font-family: 'Hind Guntur', sans-serif;
}


/* Second Side */

.second-side{
    position: relative;
    top: 50%;
}

.navbar-nav{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.nav-item{
   
        flex: 1;
        display: flex;
        align-items: center;
    
}

/* About Me */


.text-style{
    letter-spacing: 1px;
}

.bg-about-me{
    background-color: #9fd3c7;
    border-radius: 25px 45px;
    font-size: 1.4rem;
}

/* Skills */

.bg-skills{
    background-color: #c24d2c;
    border-radius: 25px 45px;
    font-size: 1.4rem;
}

